<!DOCTYPE html>
<html>
    <head>
        <title> Taking picture from webcam </title>
    </head>
    <style>
        #camera{
            width: 350px;
            height: 350px;
            border: 1px solid black;
        }
        </style>
        <body>
            <b>Take snapshot of data and feed it into the table below </b>
            <div id="camera"></div>
            <button onclick="take_snapshot()">Take Snapshot</button>
            <div id="results"></div>
        </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
        <script>
    
        //load webcam 
        
        Webcam.set({
            width:350,
            height:350,
            image_format:'jpeg',
            jpeg_quality:90
        });
        
        Webcam.attach("#camera");
    
        function take_snapshot(){
    
            Webcam.snap(function(data_uri){
            // display results in page
            document.getElementById('results').innerHTML = 
            '<img src="'+data_uri+'"/>';
            } );
            
        }
    </script>
</html>



